src/resources/data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="userdatabase" type="userdatabaseType"/>
  <xs:complexType name="accountType">
    <xs:sequence>
      <xs:element name="login">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Tutor"/>
            <xs:enumeration value="Student"/>
            <xs:enumeration value="Ira"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="password">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1230987"/>
            <xs:enumeration value="123zxcvb"/>
            <xs:enumeration value="1378"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userdatabaseType">
    <xs:sequence>
      <xs:element type="accountType" name="account" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>