src/resources/datanext.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="test" type="testType"/>
  <xs:complexType name="testType">
    <xs:sequence>
      <xs:element type="xs:string" name="COMMAND_ADD_NEW_QUI"/>
      <xs:element type="xs:string" name="Question"/>
      <xs:element type="xs:string" name="IdSubject"/>
      <xs:element type="xs:string" name="Answer"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>